/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/*************************************
    		MOBILE FIRST 
**************************************/
.container-fluid {
	padding-left: 5px;
	padding-right: 5px;
	min-height: 100vh;
	background-color: #d7e5fa;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/***************** NAV ARROW SVG ****************/
svg {
	width: 2.7em;
	height: 2.7em;
	position: absolute;
}

svg.hidden {
	display: none;
}

g.square {
	fill: none;
	stroke: #000000;
	stroke-width: 5.5;
	stroke-miterlimit: 10;
}

g.triangle {
	fill: none;
	stroke: #000000;
	stroke-width: 4.5;
	stroke-miterlimit: 10;
}

.page_nav {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0.5em;
	bottom: 0.5em;
	z-index: 9999;
	background-color: antiquewhite;
}

.no-js .page_nav {
	display: none;
}

.page_nav svg.icon-left {
	top: 50%;
	left: 1em;
	transform: rotate(-90deg);
}

.page_nav svg.icon-right {
	top: 50%;
	right: 1em;
	transform: rotate(90deg);
}

.page_nav svg.icon-bottom {
	top: 95%;
	bottom: 1em;
	left: 48%;
	transform: rotate(180deg);
}

