html {
	scroll-behavior: smooth;
}

/*********************************************************************************
    								MOBILE FIRST 
*************************************************************************************/
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	min-height: 100vh;
	background: #22292b;
	overflow: hidden;
}

body {
	color: ghostwhite;
	text-align: center;
}

/******* PAGES/PAGE HORMIS PAGE NAV  **********/
.pages {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	visibility: hidden;
	z-index: 1;
}

.page-current {
	visibility: visible;
	position: relative;
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
}



/***************** NAV ARROW SVG **************/
svg.hidden {
	display: none;
	stroke-miterlimit: 10;
}

.page_nav {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0.2em;
	bottom: 0.2em;
	z-index: 9999;
}

.no-js .page_nav {
	display: none;
}

.pagenav_button {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width: 3.2em;
	height: 3.2em;
	cursor: pointer;
	pointer-events: auto;
	position: absolute;
}

.pagenav_button:focus {
	outline: none;
}

.icon {
	width: 100%;
	height: 100%;
	opacity: 1;
	stroke-dasharray: 0;
	stroke-dashoffset: 320;

}

.pagenav_button.button_left {
	top: 50%;
	left: 0.5em;
	transform: rotate(-90deg);
}

.pagenav_button.button_right {
	top: 50%;
	right: 0.5em;
	/*right: 1.0zm for pc media queries*/
	transform: rotate(90deg);
}

.pagenav_button.button_bottom {
	top: 95%;
	bottom: 0.5em;
	left: 47%;
	transform: rotate(180deg);
}

/* HOVER POUR media query PC*/
/*
.pagenav_button:hover svg.icon{
	opacity: 0.5;
	stroke-dasharray: 430 30;	
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.55s ease-in, opacity 0.15s ease;
}
*/

/***************** REVEALER  ****************/

/* Revealers */

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}


.revealer-right,
.revealer-left {
	top: 50%;
	left: 50%;
}

.revealer-bottom {
	left: 0;
	top: 100%;
}

.revealer-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
	/* background par defaut si layer out*/
}

/************ ANIMATION EFFECT 3 LAYERS *****/

.animate-layer-3 .page:nth-child(2) {
	background: #dd6c00;
}

.animate-layer-3 .page:nth-child(3) {
	background: #f7e132;
}

.animate-layer-3 .page:nth-child(4) {
	background: #f1b021;
}

.animate-layer-3 .revealer-animate- .revealer-layer {
	animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.animate-layer-3 .revealer-animate- .revealer-layer:nth-child(2) {
	animation-name: anim-effect-3-2;
}

.animate-layer-3 .revealer-animate- .revealer-layer:nth-child(3) {
	animation-name: anim-effect-3-3;
}


@keyframes anim-effect-3-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	100% {
		transform: translate3d(0, -200%, 0);
	}
}


@keyframes anim-effect-3-2 {

	0%,
	12.5% {
		transform: translate3d(0, 0, 0);
	}

	37.5%,
	62.5% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	87.5%,
	100% {
		transform: translate3d(0, -200%, 0);
	}
}


@keyframes anim-effect-3-3 {

	0%,
	25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}

	70%,
	100% {
		transform: translate3d(0, -200%, 0);
	}
}

/************************* MISE EN PAGE PAGE INTRO *************************/
#intro section {
	padding: 0 2.2em;
}

#intro section.name {
	border: 6px double #ffb64a;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#intro .name h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 3.0em;
	font-size: 1.45em;
	text-decoration: underline ghostwhite;
}

#intro .name .chococard {
	background: url('img/ClemChococardWeb.png') no-repeat;
	background-size: contain;
	transform-origin: 50% 50%;
	width: 100px;
	height: 100px;
	margin-top: 1em;
	transition: background 0.4s ease-in, transform 0.4s linear;
}

.page-current#intro .name .chococard {
	animation: choco-flip 3.0s ease-out 3.3s;
}

@keyframes choco-flip {
	0% {
		background: url('img/ClemChococardWeb.png') no-repeat;
		background-size: contain;
		perspective: 1000px;
	}

	50% {
		background: url('img/ClemChocobackWeb.png') no-repeat;
		background-size: contain;
	}

	68% {
		background: url('img/ClemChocobackWeb.png') no-repeat;
		background-size: contain;
		opacity: 0.8;
	}

	100% {
		background: url('img/ClemChococardWeb.png') no-repeat;
		background-size: contain;
		transform: rotateY(5turn);
		opacity: 1;
	}
}

.page-current#intro .name .chococard.on {
	background: url('img/ClemChocobackWeb.png') no-repeat;
	background-size: contain;
	transform-origin: 50% 50%;
	width: 100px;
	height: 100px;
	transform: rotateY(360deg);
	transition: background 0.4s ease-in, transform 0.4s linear;
}

#intro .name h3 {
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.70em;
	color: ghostwhite;
	opacity: 0.8;
}

#intro .name h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff9115;
	margin: auto;
}

#intro h2.ghost.words .char {
	animation: ghost 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation-delay: calc(var(--distance-percent) * 0.125s);
	transform-origin: 50% 100%;
}

#intro h2.ghost.words .junior .char {
	animation: ghostj 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	animation-delay: calc(var(--distance-percent) * 0.125s);
	transform-origin: 50% 100%;
}

#intro h2.ghost.words .junior .char:after {
	animation: ghostfade 3s ease-in 1.2s;
	content: attr(data-char);
	opacity: 0.5;
	transform-origin: 100% 50%;
	visibility: visible;
}


@keyframes ghost {
	40% {
		transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg));
	}

	50% {
		transform: translateY(6%);
	}

	55% {
		transform: translateY(-4%);
	}

	60% {
		transform: translateY(2%);
	}

	65% {
		transform: translateY(-1%);
	}

	70% {
		transform: translateY(0%);
	}
}

@keyframes ghostj {
	35% {
		color: #db7c12;
	}

	40% {
		transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg));
	}

	50% {
		transform: translateY(6%);

	}

	55% {
		transform: translateY(-4%);
	}

	60% {
		transform: translateY(2%);
		color: #f4c200;
	}

	65% {
		transform: translateY(-1%);
	}

	70% {
		transform: translateY(0%);
	}

	100% {
		color: #fdcd13;
	}
}

@keyframes ghostfade {
	8% {
		opacity: 0;
		transform: translateY(0);
		color: #fad092;
	}

	40% {
		opacity: 0.6;
		transform: translateY(-40%) rotate(calc(var(--distance-sine) * -10deg));
	}

	60%,
	100% {
		opacity: 0;
		transform: translateY(-200%);
	}
}

#intro .presentation {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.85em;
	color: #efe3c6;
	line-height: 1.54em;
	margin-top: 2em;
	margin-bottom: 2em;
	letter-spacing: 0.1em;
}

#intro .presentation p {
	width: 88%;
	margin: auto;
}

#intro .presentation a,
#intro .presentation a:hover,
#intro .presentation a:focus {
	text-decoration: underline;
	text-decoration-color: ghostwhite;
	outline: none;
	color: #efe3c6;
}

#intro .presentation .welcome {
	font-size: 1.65em;
	color: #d9d490;
}

#intro section.skills {
	margin-bottom: 3em;
}

#intro .skills h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 1.4em;
	text-transform: capitalize;
	color: #db7c12;
	text-align: left;
}

#intro .skills h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	color: #e0b81e;
	text-align: center;
}

#intro .skills .skills-d {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#intro .skills-d .detail {
	display: inline-flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
}


#intro .skills figure img {
	width: 4.5em;
	height: 4.5em;
	background-size: contain;
}

#intro .skills figure figcaption {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #efe3c6;
	letter-spacing: 0.05em;
	font-size: 0.7em;

}

/************************* MISE EN PAGE PAGE INTRO *************************/

/************************* MISE EN PAGE WEB EXPERIENCE *************************/
#computer .border {
	border: 6px double #ffb64a;
	display: flex;
}

#computer h2#glitch {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: ghostwhite;
	width: 80%;
	margin: auto;
	line-height: 2.6em;
	position: relative;
}

.page-current #computer h2#glitch::before {
	content: attr(data-text);
	position: absolute;
	text-shadow: 1px 0px #fc339d;
	color: ghostwhite;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2.1s 4 linear alternate-reverse backwards;
}

.page-current #computer h2#glitch::after {
	content: attr(data-text);
	position: absolute;
	right: 0em;
	width: 100%;
	text-shadow: -1px 0px #251cfc;
	color: ghostwhite;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s 4 linear alternate-reverse backwards;
	animation-delay: 0.3s;
}

@keyframes noise-anim {
	0% {
		clip: rect(0, 900px, 0, 0)
	}

	1% {
		clip: rect(89px, 9999px, 100px, 0)
	}

	5% {
		clip: rect(4px, 9999px, 62px, 0)
	}

	10% {
		clip: rect(43px, 9999px, 16px, 0)
	}

	15% {
		clip: rect(2px, 9999px, 68px, 0)
	}

	20% {
		clip: rect(12px, 9999px, 6px, 0)
	}

	25% {
		clip: rect(89px, 9999px, 25px, 0)
	}

	30% {
		clip: rect(15px, 9999px, 38px, 0)
	}

	35% {
		clip: rect(57px, 9999px, 97px, 0)
	}

	40% {
		clip: rect(24px, 9999px, 72px, 0)
	}

	45% {
		clip: rect(81px, 9999px, 3px, 0)
	}

	50% {
		clip: rect(93px, 9999px, 26px, 0)
	}

	55% {
		clip: rect(68px, 9999px, 85px, 0)
	}

	60% {
		clip: rect(43px, 9999px, 28px, 0)
	}

	65% {
		clip: rect(44px, 9999px, 11px, 0)
	}

	70% {
		clip: rect(17px, 9999px, 33px, 0)
	}

	75% {
		clip: rect(74px, 9999px, 66px, 0)
	}

	80% {
		clip: rect(100px, 9999px, 4px, 0)
	}

	85% {
		clip: rect(92px, 9999px, 31px, 0)
	}

	90% {
		clip: rect(93px, 9999px, 98px, 0)
	}

	95% {
		clip: rect(23px, 9999px, 77px, 0)
	}

	100% {
		clip: rect(92px, 9999px, 8px, 0)
	}
}

#computer .border .fa-laptop-code {
	width: 20%;
	margin: auto;
	font-size: 1.5em;
	color: #22292b;
}

#computer p {
	width: 95%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.85em;
	color: #cf8617;
	line-height: 1.54em;
	letter-spacing: 0.1em;
	padding-top: 2em;
	margin: auto;
}

#computer article h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 1.28em;
	text-transform: capitalize;
	color: #ff7900;
	text-align: left;
}

#computer .experiences .fa-terminal {
	padding-left: 0.5em;
	color: #484025cc;
}

#computer .experience {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.88em;
	color: #5e3917;
	line-height: 1.54em;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: left;
	letter-spacing: 0.1em;
}

#computer .experience .date {
	font-weight: bolder;
	font-size: 0.89em;
	color: #a15918;
}

#computer .experience .detail figure {
	margin: 1em 0;
	position: relative;
}

#computer .experience .detail figure img {
	background-size: contain;
	width: 100%;
	height: auto;
	border-radius: 2.2em;

}

#computer .experience .detail figcaption {
	position: absolute;
	text-align: right;
	color: ghostwhite;
	font-size: 0.72em;
	line-height: 1.3em;
	top: 1em;
	right: 2em;
}

#computer .experience .detail button.website {
	background: none;
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.70em;
	border: 1px solid #FFA500;
	border-radius: 15px;
	padding: 5px;
	bottom: 40%;
	right: 10%;
}

#computer .experience .detail button.website a,
#computer .experience .detail button.website a:hover,
#computer .experience .detail button.website a:focus {
	outline: none;
	text-decoration: none;
	color: ghostwhite;
}

#computer .experience .detail .descript {
	margin: 0.5em 0;
	font-size: 0.92em;
}


#computer .experience .partners h4 {
	text-align: center;
	color: #a15920;
}

#computer .experience .partners figure {
	padding: 0;
}

#computer .experience .partners figure img {
	width: 8em;
	height: 8em;
}

#computer .outils .adobe {
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 1em;
}


#computer .outils figure img {
	width: 3.0em;
	height: 3.0em;
	background-size: contain;
	margin-left: 1em;
	margin-bottom: 0.5em
}

#computer .outils .other figure img {
	width: 3.8em;
	height: 3.8em;
	margin-bottom: 0;
	margin-left: -1em;
}

#computer .outils figure figcaption {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #efe3c6;
	letter-spacing: 0.05em;
	font-size: 0.7em;
	visibility: hidden;
}

#computer .creations {
	margin-bottom: 5em;
}

#computer .creations svg,
#computer .creations .norms,
#computer .creations .chococard-c {
	width: 6em;
	height: 6em;
	transform-origin: 50% 50%;
}

#computer .creations h4 {
	text-align: center;
	color: #a15920;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.88em;
	letter-spacing: 0.1em;
	line-height: 1.54em;
	margin-top: 2em;
	margin-bottom: 2em;
}

/*** LOGO MASK ANIME SVG **/
svg#logo {
	fill: none;
	stroke-width: 2px;
}

svg#logo #circle {
	stroke: ghostwhite;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 3.75px;
}

svg#logo #circle .big_circle {
	stroke-dasharray: 166, 10, 166, 10;
	transition: 2.8s ease-in-out, stroke 3s linear;
}

.on svg#logo #circle .big_circle {
	stroke-dasharray: 166, 0, 166, 0;
	stroke-dashoffset: -200;
	stroke: #530f0f;
	transition: 2.8s ease-in-out, stroke 3s linear;
}

svg#logo #circle .small_circle {
	stroke-dasharray: 90, 40, 90, 40, 90, 296;
	transition: 2.5s linear, stroke 3.2s linear;
}

.on svg#logo #circle .small_circle {
	stroke: #530f0f;
	stroke-dasharray: 90, 0, 90, 0, 90, 0;
	stroke-dashoffset: -230;
	transition: 2.5s linear, stroke 3.2s linear;
}

svg#logo #mask {
	opacity: 1;
	transform: rotate(0deg);
	transition: 1.8s ease;
	transform-origin: 50% 50%;
}

.on svg#logo #mask {
	opacity: 0.92;
	transform: rotate(720deg);
	transition: 1.8s ease;
	transform-origin: 50% 50%;
}


svg#logo #mask .cape {
	stroke: #9e0b0b;
	stroke-width: 3px;
	fill: #840a0a;
	perspective: 1000px;
}

.on svg#logo #mask .cape {
	stroke: #800000;
	stroke-width: 3px;
	fill: #900e0e;
	perspective: 1000px;
}

svg#logo #mask .left_eye,
svg#logo #mask .right_eye {
	stroke: #9e0b0b;
	fill: #5f0101;
	transition: opacity 1.5s ease-in;
}

.on svg#logo #mask .left_eye,
.on svg#logo #mask .right_eye {
	stroke: #820505;
	fill: #550101;
	opacity: 0;
	transition: opacity 1.5s ease-in;
}

/*** LOGO Norms **/

#computer .creations .norms {
	background: url('img/NormsJardinage-web.png') no-repeat;
	background-size: contain;
	transition: background 0.4s ease-in;
}

#computer .creations .on .norms {
	background: url('img/NormsComptable-web.png') no-repeat;
	background-size: contain;
	transition: background 0.4s ease-in;
}

/*** LOGO Chococard **/

#computer .creations .chococard-c {
	background: url('img/ClemChococardWeb.png') no-repeat;
	background-size: contain;
	transform-origin: 50% 50%;
	transform: rotateY(0deg);
	perspective: 1000px;
	transition: background 0.4s ease-in, transform 0.4s linear;
}

#computer .creations .on .chococard-c {
	background: url('img/ClemChocobackWeb.png') no-repeat;
	background-size: contain;
	transform-origin: 50% 50%;
	transform: rotateY(360deg);
	perspective: 1000px;
	transition: background 0.4s ease-in, transform 0.4s linear;
}



/************************* MISE EN PAGE WEB EXPERIENCE *************************/

/************************* MISE EN PAGE CHIMISTE *************************/
#chemist .border {
	border: 6px double #f0d773;
	;
	display: flex;
}

#chemist h2#atom {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: ghostwhite;
	width: 80%;
	line-height: 2.6em;
	position: relative;
	font-size: 1.2em;
}

#chemist .border .fa-flask {
	width: 20%;
	margin: auto;
	font-size: 1.5em;
	color: #22292b;
}

#chemist p {
	width: 95%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.85em;
	color: #cf8617;
	line-height: 1.54em;
	letter-spacing: 0.1em;
	padding-top: 2em;
	margin: auto;
}


#chemist article h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 1.28em;
	text-transform: capitalize;
	color: #ff7900;
	text-align: left;
}

#chemist .experiences .fa-viall {
	padding-left: 0.5em;
	color: #484025cc;
}

#chemist .experience {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 0.88em;
	color: #5e3917;
	line-height: 1.54em;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: left;
	letter-spacing: 0.1em;
}

#chemist .experience .date {
	font-weight: bolder;
	font-size: 0.89em;
	color: #a15918;
}

#chemist .experience .detail figure {
	margin: 1em 0;
	position: relative;
}

#chemist .experience .detail figure img {
	background-size: contain;
	width: 100%;
	height: auto;
	border-radius: 2.2em;

}

#chemist .experience .detail figcaption {
	position: absolute;
	text-align: right;
	color: ghostwhite;
	font-size: 0.72em;
	line-height: 1.3em;
	top: 1em;
	right: 2em;
}

#chemist .experience .detail .publi li {
	margin: 1em;
}

#chemist .experience .detail .publi a,
#chemist .experience .detail .publi a:hover,
#chemist .experience .detail .publi a:focus {
	outline: none;
	font-size: 0.88em;
	color: #5e3917;
}

#chemist .experience .detail .descript {
	margin: 0.5em 0;
	font-size: 0.92em;
}


#chemist .experience .company h4,
#chemist .experience .publi h4 {
	text-align: center;
	color: #a15920;
}

#chemist .experience .company figure {
	padding: 0;
}

#chemist .experience .company figure img {
	width: 8em;
	height: 8em;
}


/************************* MISE EN PAGE CHIMISTE *************************/