/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/*************************************
    		MOBILE FIRST 
**************************************/
.container-fluid {
	padding-left: 5px;
	padding-right: 5px;
	min-height: 100vh;
	background-color: rgb(29,33,33);
	overflow: hidden;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/***************** NAV ARROW SVG ****************/
svg.hidden {
	display: none;
	stroke-miterlimit: 10;
}

.page_nav {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0.5em;
	bottom: 0.5em;
	z-index: 9999;
}

.no-js .page_nav {
	display: none;
}

.pagenav_button {
	border: 0;
	background: none;
	padding:0;
	margin: 0;
	width: 3.2em;
	height: 3.2em;
	cursor: pointer;
	pointer-events: auto;
	position: absolute;
}

.pagenav_button:focus {
	outline: none;
}

.icon {
	width: 100%;
	height: 100%;
	opacity:1;
	stroke-dasharray: 0;
	stroke-dashoffset: 320;
	
}

.pagenav_button.button_left {
	top: 50%;
	left: 1em;
	transform: rotate(-90deg);
}

.pagenav_button.button_right {
	top: 50%;
	right: 1em;
	transform: rotate(90deg);
}

.pagenav_button.button_bottom {
	top: 95%;
	bottom: 1em;
	left: 47%;
	transform: rotate(180deg);
}

/* HOVER POUR media query PC*/
/*
.pagenav_button:hover svg.icon{
	opacity: 0.5;
	stroke-dasharray: 430 30;	
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.55s ease-in, opacity 0.15s ease;
}
*/

